<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Интернет-магазин{% endblock %}</title>



</head>
<body>
    <header>
        {% include 'header.html' %}

    </header>

    {% load custom_tags %}


    <main class="container mt-5">
        {% block main %}{% endblock %}
    </main>
    <footer class="mt-5">
        <div class="text-center py-3 bg-light">
            <p>Все права защищены, 2023.</p>
        </div>
    </footer>
</body>
</html>
