{% extends 'base.html' %}

{% block title %}Домашняя страница{% endblock %}

{% block main %}
    <p class="mb-4">Важная информация для посетителей интернет-магазина</p>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- Плейсхолдер для изображения продукта -->
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
