<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <header>
        <h1>Интернет-магазин домашнего задания SkyPro!</h1>
    </header>

    <main>
        <p>Важная информация для посетителей интернет-магазина</p>


        {% for product in products %}
    <div class="product">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description|truncatechars:100 }}</p>

    </div>
{% endfor %}




    </main>
    <footer>
        <p>Все права защищены, 2023.</p>
    </footer>
</body>
</html>
